.audio-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.audio-page audio {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}
