{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/audio.css') }}">
{% endblock %}

{% block title %}Song Play{% endblock %}

{% block content %}

<div class="container audio-page">

   <h1 style="margin-bottom: 20px;">Music Player</h1>
   <div class="card">
      <div class="card-header">
      <h3>Play Song </h3>
      </div>
      <img style="height: 150px;" src="/static/filip-VHf4jqrUu7g-unsplash.jpg" class="card-img-top" alt="broken">
      <div class="card border-dark "  > 
         <div class="card-body" style="height: fit-content; width: fit-content;">
            <h5 class="card-title" style="margin-right: 10px; border: 5px; text-align: center;"><strong>{{s.title}}</strong></h5>
            <h6 class="card-subtitle mb-2 text-muted">Artist--{{s.artist}}</h6>
            <audio controls loop  autoplay style="height: 50px; width: 300px; display: block;" >
               <source src="{{ url_for('static', filename='uploads/' ~ s.file_path) }}" type="audio/mpeg">
               Your browser does not support the audio tag.
            </audio>
            <!-- <p class="card-text" style="border-color: black;width: 300px;">{{s.lyrics}} </p> -->
         </div>
      </div>
      
   </div>
</div>


{% endblock %}