{% extends "base.html" %}

{% block title %}Uploaded Song{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row text-center">
    {% for song in songs %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">{{ song.title }}</h5>
          <p class="card-text">by {{ song.artist }}</p>
          <audio controls>
            <source src="{{ url_for('static', filename='uploads/' ~ song.file_path) }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <!-- <a href="{{ url_for('song.song_all') }}" class="btn btn-outline-primary">Explore</a>         -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

 {% endblock %}