{% extends "base.html" %}

{% block title %}User Dashboard{% endblock %}

{% block content %}


<table style="margin-left: 10px;margin-top: 10px; border-collapse: collapse;">
    <tbody> 
    <th>
        <td style="text-align: center;" ><strong>ALL songs</strong></td>
    </th> 
  {% for song in songs %}

    <tr>
      <td>
      <strong>{{ song.title }}</strong> by {{ song.artist }}
     </td>
     <td>
      <audio controls>
        <source src="{{ url_for('static', filename='uploads/' ~ song.file_path) }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      </td>
      <td>
        <a href="{{url_for('song.play_song', song_id = song.id)}}" class="btn btn-primary" style="margin-left: 4px;">play song</a>
      </td>
      <td>
        <a href="{{url_for('song.delete_song', song_id = song.id)}}" class="btn btn-danger" style="margin-right: 4px;width: fit-content;">Delete</a>
      </td>
       <td>
        <a href="{{ url_for('song.show_add_to_playlist_form', song_id=song.id) }}">Add to Playlist</a>
      </td>
    </tr>
  {% endfor %}
    </tbody>
</table>  


<hr>

<h2 style="margin-left: 10px;">Playlists for User ID 2</h2>
<ul style="margin-left: 20px;">
    {% for playlist in playlists_user_2 %}
        <li>
            <strong>{{ playlist.name }}</strong> (ID: {{ playlist.id }})
            <ul>
                {% for playlist_song in playlist.songs %}
                    <li><a href="{{url_for('song.play_song', song_id = playlist_song.song.id)}}" style="margin-left: 4px;">{{ playlist_song.song.title }}</a></li>

                {% else %}
                    <li><em>No songs in this playlist.</em></li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li>No playlists found for user ID 2.</li>
    {% endfor %}
</ul>


{% endblock %}